* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.header {
  height: 50px;
  color: rgba(0, 0, 0, 0.87);
}

.header ul {
  float: right;
}

.header li {
  float: left;
  margin: 0 10px;
  list-style: none;
  /* display: block; */
  line-height: 50px;
}

.header a:visited {
  color: rgba(0, 0, 0, 0.87);
}

.header__link {
  font: 13px arial, sans-serif;
}

.header__link:hover {
  text-decoration: underline;
}

.header__icon {
  vertical-align: middle;
}

.header__icon:hover {
  background-color: rgba(32, 33, 36, 0.28);
  border-radius: 50%;
}

.logo {
  height: 124px;
  padding-top: 109px;
}

.logo img {
  display: block;
  margin: 0 auto;
}

.search {
  width: 580px;
  height: 44px;
  margin: 0 auto;
  border: 1px solid rgba(223, 225, 229, 0);
  border-radius: 24px;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

.search__icon {
  display: block;
  float: left;
  color: #9AA0A6;
  height: 20px;
  width: 20px;
  margin-top: 12px;
  margin-left: 13px;
  fill: currentColor;
}

.search input {
  float: left;
  width: 487px;
  height: 44px;
  line-height: 44px;
  padding-left: 10px;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 16px;
}

.search__voice {
  float: right;
  background: url(http://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png) 0 0 no-repeat;
  height: 24px;
  width: 24px;
  background-size: 24px;
  margin-top: 10px;
  margin-right: 15px;
}

.search-button {
  height: 40px;
  width: 252px;
  padding-top: 30px;
  margin: 0 auto;
}

input[type="submit"] {
  height: 36px;
  padding: 0 24px;
  text-align: center;
  font: 14px arial, sans-serif;
  border-radius: 4px;
}

input[type="submit"]:hover {
  background-color: #E8F0FE;
}

input[name="btSearch"] {
  color: #1a73e8;
  background: white;
  border: 1px solid #dadce0;
}

input[name="btLucky"] {
  color: #1a73e8;
  background: white;
  border: none;
}

.language {
  height: 28px;
  margin-top: 30px;
  font: 13px arial, sans-serif;
  text-align: center;
}

.language a:hover {
  text-decoration: underline;
}

.qr-code {
  background: url(http://ss.bdimg.com/static/mancard/img/qrcode_download-151b346d82.png) no-repeat 0 0/72px 72px;
  width: 72px;
  height: 72px;
  margin: auto;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: rgba(0, 0, 0, .54);
  font-family: Arial, Helvetica, sans-serif;
  /* height: 80px; */
}

.location {
  height: 40px;
  line-height: 40px;
  padding-left: 27px;
  background: #f2f2f2;
  border-top: 1px solid #e4e4e4;
  font-size: 15px;
}

.footer__link {
  /* color: rgba(0, 0, 0, .54); */
  height: 40px;
  line-height: 40px;
  padding-left: 27px;
  background: #f2f2f2;
  border-top: 1px solid #e4e4e4;
  font-size: 13px;
}

.footer__link a {
  display: inline-block;
  /* color: rgba(0, 0, 0, .54); */
  margin-right: 27px;
}

.footer__link a:visited {
  color: rgba(0, 0, 0, .54);
}

.footer__link a:hover {
  text-decoration: underline;
}

.footer__link--left {
  float: left;
}

.footer__link--right {
  float: right;
}